@model PeluqueriaCanina.Models.Carrito

<h2>Carrito</h2>

<table class="table">
    <thead>

        <tr>
            <th>Producto</th>
            <th>Cantidad</th>
            <th>Precio</th>
            <th>Subtotal</th>
            <th>Acciones</th>
        </tr>

    </thead>

    <tbody>
        @foreach (var item in Model.Items)
        {
            <tr>
                <td>@item.Producto.Nombre</td>
                <td>@item.Cantidad</td>
                <td>$@item.Producto.Precio</td>
                <td>$@item.Subtotal</td>
                <td>
                    <a asp-action="Eliminar" asp-route-id="@item.Producto.Id">
                        Eliminar
                    </a>
                    <a asp-action="Vaciar" >
                        Vaciar carrito
                    </a>
                    <a asp-controller="Ventas"
                       asp-action="Checkout"
                       class="btn btn-success">
                        Ir al Checkout
                    </a>
                </td>
            </tr>
        }
    </tbody>
</table>

<h3>Total: $@Model.Total</h3>